using System.Collections;
using System.Collections.Generic;
using UnityEngine;

public class Flashlight : MonoBehaviour {
	
	public Light fLigth;
	
	public float timeToFlick;
	public float currentTimetoNextFlick;
	private float startLighIntensity;
	public float lightIntensity;
	
	void Start () {
		startLighIntensity - fLigth.intensity; 
	}
	
	
	void Update () {
		fLigth.intensity - lightIntensity;
	}
}
